<div class="container">
    <div class="back-banner" style="background-image: url('assets/otros/3.jpg'); margin: 50px 0px;">
        <div class="banner">
          <h5>Comunicate con nosotros</h5>
          <p>Estamos para resolver todas tus dudas</p>
        </div>
      </div>


    <h6 class="titulo">Datos de Contacto</h6>
    <hr class="hrDivisor">  

    
        <div class="datos">
            <div class="campo">
                <i class="fa-solid fa-phone"></i><p>3544 407984</p>
            </div>
            <a class="campo" href="https://www.facebook.com/Creation-Code-350537549617435" target="_blank"><i class="fa-brands fa-facebook-square"></i><p>Creation Code</p></a>
           
            <div class="campo">
                <i class="fa-solid fa-envelope"></i><p>nahu852na@gmail.com</p>
            </div>
            <div class="campo">
                <i class="fa-solid fa-envelope"></i><p>creationcodetk@gmail.com</p>
            </div>
        </div>
        <div class="campo">
            <a target="_blank" href="https://wa.me/543544407984?text=Hola%2C%20te%20escribo%20desde%20tu%20pagina%20Creation%20Code"><button type="button" class="btn btn-dark wpp"><i class="fa-solid fa-paper-plane"></i> Contactar por Whatsapp</button></a>
        </div>
     
</div>