 /* Divisor */
 .titulo{
   margin: 0% 10%;
}
.titulo{
   text-transform: uppercase;
   font-family: "Montserrat-Regular";
   margin: 0%;
   margin-top: 45px;
   text-align: center;
}
.hrDivisor{
   border-top: 0.5px solid #858585;
   width: 80%;
   margin-top: 3px;
}
/* ------------------------------ */

/* pie */
.pie{
   color: white;
   background-color: #1a1a1a;
   padding: 15px;
   margin: 0%;
   margin-top: 20px;
}
.hrPie{
   border-top: 1px solid #ffe600;
   width: 80%;
   margin-top: 3px;
}
/* ------------------------------ */

.btn-nav{
   margin: 15px;
   color: white;
}
.btn-nav a{
   text-decoration: none;
   color: white; 
   font-family: "Roboto-Medium";
   font-size: 13px;
}

/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Afterglow-Regular";
    src: url('../src/assets/fonts/Afterglow-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "Chapaza";
    src: url('../src/assets/fonts/Chapaza.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "CaviarDreams";
    src: url('../src/assets/fonts/CaviarDreams.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "Montserrat-Regular";
    src: url('../src/assets/fonts/Montserrat-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
   font-family: "Poppins-Medium";
   src: url('../src/assets/fonts/Poppins-Medium.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Poppins-Regular";
   src: url('../src/assets/fonts/Poppins-Regular.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: "Roboto-Medium";
    src: url('../src/assets/fonts/Roboto-Medium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: "Roboto-Regular";
    src: url('../src/assets/fonts/Roboto-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
   font-family: "Asap-Regular";
   src: url('../src/assets/fonts/Asap-Regular.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Amaranth-Regular";
   src: url('../src/assets/fonts/Amaranth-Regular.ttf') format("truetype");
   font-weight: normal;
   font-style: normal;
}